<section class='field'>
  <div class="enable-accepted-answer">
    <label class="checkbox-label">
      {{input type="checkbox" checked=model.enable_accepted_answers}}
      {{i18n 'accepted_answer.allow_accepted_answers'}}
    </label>
  </div>
</section>
