{{#unless siteSettings.allow_solved_on_all_topics}}
<section class='field'>
  <div class="enable-accepted-answer">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_accepted_answers}}
      {{i18n 'solved.allow_accepted_answers'}}
    </label>
  </div>
</section>
{{/unless}}
