{{#if this.siteSettings.solved_enabled}}
  <li class="user-activity-bottom-outlet solved-list">
    <LinkTo @route="userActivity.solved">
      {{d-icon "check-square"}}
      {{i18n "solved.title"}}
    </LinkTo>
  </li>
{{/if}}