.post-controls .accepted, .fa.accepted {
  color: green;
}

// you can style accepted answers however your want
.topic-post.accepted-answer .topic-body {
//  background-color: #E9FFE0;
}

.mobile-view .cooked .solved {
  margin-bottom: 15px;
}

.cooked .solved {

  margin-top: 20px;
  margin-bottom: 0px;
  color: scale-color($primary, $lightness: 15%);
  font-size: 13px;
  // margin-bottom: 0px;
  // padding: 4px 0px;
  //border-top: 1px solid #ddd;
  //background-color: #E9FFE0;
}
