.post-controls .accepted, .fa.accepted {
  color: green;
}

.topic-post.accepted-answer .topic-body {
  background-color: #E9FFE0;
}

.cooked .solved {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 4px 10px;
  border: 1px solid #ddd;
  background-color: #E9FFE0;
}
