.post-controls .accepted, .fa.accepted, .accepted-text {
  color: green;
}

.post-controls .accepted-text {
  display: inline-block;
  font-size: inherit;
  vertical-align: middle;
  line-height: 35px;
  margin-right: -5px;
  z-index: 999;
}

// you can style accepted answers however your want
.topic-post.accepted-answer .topic-body {
//  background-color: #E9FFE0;
}

.mobile-view .post-controls .accepted-text {
  float: left;
}

.mobile-view .cooked .solved {
  margin-bottom: 15px;
}

.cooked .solved {

  margin-top: 20px;
  margin-bottom: 0px;
  color: scale-color($primary, $lightness: 15%);
  font-size: 13px;
  // margin-bottom: 0px;
  // padding: 4px 0px;
  //border-top: 1px solid #ddd;
  //background-color: #E9FFE0;
}
