{{#if show}}
  {{#topic-navigation-popup popupId="solved-notice" dismissDuration=oneWeek}}
    <h3>{{i18n "solved.no_answer.title"}}</h3>
    <p>{{i18n "solved.no_answer.description"}}</p>
  {{/topic-navigation-popup}}
{{/if}}
