{{#if this.show}}
  <TopicNavigationPopup
    @popupId="solved-notice"
    @dismissDuration={{this.oneWeek}}
  >
    <h3>{{i18n "solved.no_answer.title"}}</h3>
    <p>{{i18n "solved.no_answer.description"}}</p>
  </TopicNavigationPopup>
{{/if}}